html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat";
  font-weight: 700;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 944px;
  }
}

.hero__button {
  font-size: 13.9987px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background-color: #ff4e50;
  padding: 13px 38px;
  border: none;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .hero__button {
    font-size: 14.0123px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    font-size: 14px;
    line-height: 17px;
  }
}

.partners__button {
  width: 280px;
  height: 40px;
  font-size: 14.001px;
  line-height: 17px;
  text-align: center;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 50px;
  background-color: transparent;
  margin-top: 27px;
}
@media screen and (min-width: 768px) {
  .partners__button {
    width: 195px;
    height: 42px;
    margin-top: 38px;
  }
}

.header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 36px;
  }
}

.header .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.nav__list {
  display: flex;
  justify-content: center;
  margin-bottom: 112px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-bottom: 0;
  }
}

.nav__item:not(:last-child) {
  margin-right: 4px;
}

.nav__button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  border: none;
  background-color: transparent;
}

.nav__item:last-child {
  background-color: rgba(26, 25, 21, 0.0001);
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.hero {
  background-image: url(../img/hero/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 214px;
  padding-bottom: 138px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/hero-tablet.jpg);
    padding-top: 214px;
    padding-bottom: 233px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../img/hero/hero-desktop.jpg);
  }
}

.hero__title {
  font-size: 30.041px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 52.0456px;
    line-height: 63px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title .hero__title {
    font-size: 52px;
    line-height: 63px;
    margin-bottom: 36px;
  }
}

.hero__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18.0246px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 24.0211px;
    line-height: 28px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 33px;
  }
}

.partners__section {
  padding-top: 67px;
  padding-bottom: 56px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .partners__section {
    padding-top: 71px;
    padding-bottom: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .partners__section {
    padding-top: 69px;
    padding-bottom: 72px;
  }
}

.partners__title {
  font-size: 22.0041px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .partners__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .partners__list {
    gap: 37px;
  }
}

.partners__item {
  width: 194px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .partners__item {
    width: 230px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .partners__item {
    width: 194px;
  }
}

.partners__thumb {
  position: relative;
  width: 120px;
  margin: 0 auto;
}

.partners__img {
  margin-bottom: 15px;
}

.icon__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.icon__overlay--tv {
  background-color: #ff4e50;
}

.icon__overlay--chem {
  background-color: #ffa507;
}

.icon__overlay--cup {
  background-color: #1cd7ad;
}

.icon__overlay--tg {
  background-color: #4e73db;
}

.partners__icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.partners__name {
  font-size: 14.0112px;
  line-height: 17px;
  text-align: center;
  color: #333333;
  margin-bottom: 13px;
}

.partners__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14.0112px;
  line-height: 16px;
  text-align: center;
  color: #666666;
}/*# sourceMappingURL=main.css.map */