.hero__button {
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background-color: $buttonColor;
  padding: 13px 38px;
  border: none;
  border-radius: 50px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding: 13px 11px;
  }
}
