.partners__button {
  width: 280px;
  height: 40px;
  font-size: 14.001px;
  line-height: 17px;
  text-align: center;
  color: $buttonColor;
  border: 2px solid $buttonColor;
  border-radius: 50px;
  background-color: transparent;
  margin-top: 27px;

  @media screen and (min-width: 768px) {
    width: 195px;
    height: 42px;
    margin-top: 38px;
  }
}
